@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans&family=Roboto:wght@400&display=swap');


.fst-div {
    /* border: 100px solid red; */
    /* border-bottom: 1px solid #F0F3F4; */

    height: 100%;
    padding: 0px;

}


.snd-div {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    /* vertical-align: middle; */
    align-items: center;

}

.menu_icon {
    color: #5f6368;
    opacity: 1;
    cursor: pointer;
    padding: 10px;
    transform: scale(1.1);
}

/* .menu_icon :hover {
    background-color: #F0F3F4;

} */

.icon_size {
    border: 1px solid white;
    border-radius: 50px;
    padding: 4px;

}


.notes-png {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding-top: 1px;
    transform: scale(1);
}


.keep-txt {
    color: #5f6368;
    opacity: 1;
    font-family: "Product Sans", Arial, sans-serif;
    padding-top: 16px;
    font-size: 22px;
    position: relative;
}

.Search-bar {

    display: flex;
    margin-left: 18vh;
    border-radius: 10px;
    background-color: #F0F3F4;
    height: 40px;
    display: flex;
    margin-top: 9px;


}

.Search-bar input {
    padding-left: 10px;
    border-style: none;
    font-size: medium;
    background-color: #F0F3F4;
    width: 87vh;
}

.Search-bar input:focus {
    outline: none;
}

.Search-bar span {
    padding-left: 10px;
    padding-bottom: 70px;
    margin-top: 13px;
    transform: scale(1.1);
}

.other-icon {
    display: flex;
    margin-left: 60px;
    padding-top: 8px;

}


.refresh-icon {
    color: #5f6368;
    opacity: 1;
    cursor: pointer;
    padding: 10px;
    transform: scale(1.1);
    border-radius: 50px;
}

.gridView {
    color: #5f6368;
    opacity: 1;
    cursor: pointer;
    padding: 10px;
    transform: scale(1.1);
    padding-left: 20px;
    border-radius: 50px;
}

.setting {
    color: #5f6368;
    opacity: 1;
    cursor: pointer;
    padding: 10px;
    transform: scale(1.1);
    padding-left: 20px;
    border-radius: 50px;
}

.apps {
    color: #5f6368;
    opacity: 1;
    cursor: pointer;
    padding-top: 10px;
    transform: scale(1.1);
    padding-left: 20px;
    border-radius: 50px;
}

.logout {
    margin-left: auto;
    margin-right: 15px;
}

.menu-bar {

    margin-left: -35px;
    width: 25vh;
    list-style-position: inside;
    background-color: rgb(254, 254, 254);
    width: 250px;
    border-radius: 10px;
    text-align: justify;
    font-family: "Product Sans", Arial, sans-serif;
    font-size: larger;
    position: absolute;
    color: #5f6368;
    text-decoration: none;
}

.menu-items li {
    list-style-type: none;
}

.menu-items :hover {
    background-color: #FDEFC3;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 6vh;
    cursor: pointer;


}

.menu-items span {
    margin-left: 20px;
}

/* .addNote {
    border: 1px solid black;
    margin: auto;
    width: 50%;
    padding: 100px;
} */

.addNote form {
    position: relative;
    width: 600px;
    margin: 32px auto 50px auto;
    background-color: white;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);

}

.addNote input {
    width: 98%;
    border: none;
    margin: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1.1rem;
    resize: none;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.addNote textarea {
    width: 98%;
    border: none;
    margin: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 500;
}

.note {
    background: white;
    width: 240px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(175, 175, 175);
    padding: 10px;
    margin-top: 10vh;
    margin-left: 2vh;
    float: left;
}

.note h1 {
    font-size: 1rem;
    margin-bottom: 6px;

}

.note p {
    font-size: 1rem;
    margin-bottom: unset;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.desc_icon {
    display: flex;
    margin-left: 1rem;
}

.bottonicon {
    padding: 0 25px 0 10px;
    transform: scale(0.79);
    color: #5f6368
}

form button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 18px;
    bottom: -13px;
    background-color: #FABC05;
    color: #F0F3F4;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px gray
}

.notesicons {
    margin-top: 5px;
    float: right;
    padding-left: 0px;
}

.note span {
    float: right;
}

.pinned {
    margin-left: 20px;
    margin-top: 15vh;
    
    
}

.pinned h2 {
    color: #aaacad;

}

.pinned2 {
    clear: left;
}